<div class="container p-4">
    
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/addclient" method="POST">
                        <div class="form-group">
                            <input type="text" name="placa" class="form-control" placeholder="DIGITE PLACA" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="fullname" class="form-control" placeholder="DIGITE NOMBRE DUEÑO" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                REGISTRAR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>