<div style="text-align:center;padding:5em 0;">
    <h2>
        <a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/city/3688689">
            <span style="color:rgb(236, 60, 60);">
            PARKING
            </span>
            <br />Colombia
        </a>
       
    </h2> 
    <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=America%2FBogota" width="100%" height="140" frameborder="0" seamless></iframe> 
</div>
<div class="container1">
    <form action="/links/add">
        <button  class="btn btn-light btn-block">
            ADMIN
        </button>
    </form>
</div>
<div class="container">
    <div class="card col-md-5 mx-auto">
        <div class="card-body">            
            <form action="/links/add">
                <button  class="btn btn-success btn-block">
                    ENTRADA
                </button>
            </form>
            <form action="/links/end">
                <button  class="btn btn-danger btn-block">
                    SALIDA
                </button>
            </form>
        </div>
        <form action="/links/addclient">
            <button  class="btn btn-light btn-block">
                    HACERSE CLIENTE 🛑
            </button>
        </form>
    </div>
   
</div>